AccesoAddUser.php
AccesoAddUser.js
actualizarCliente.php
AddClient.js
AddClient.php
AddClient2.php
AddSpace.php
busquedaEC.php
cap1.html
cap2.html
cerrarSesionUg_ss.php
DClient.php
deleteClient.js
EClient.php
editClient.js
EditClient.php
DeleteClient.php
funcionesAC.php
indexAC.php
insertAC.php
modal.php
templateAC.html
UserGiga.html
userGiga.js
UserGiga.php
UserGiga2.php
editClient
paginasAC
paginasEC